@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');

.csscria {
    font-family: 'Megrim', cursive;
    color: white;
}

.fontecria {
    font-family: 'Megrim', cursive;
    color: white;
}

input {
    font-family: 'Megrim', cursive;
}

body{
    background-color: black;
}

#corcria {
    font-family: 'Megrim', cursive;
}